<%= form_with(model: customer, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :orders_count %>
    <%= form.number_field :orders_count %>
  </div>

  <div class="field">
    <%= form.label :visits %>
    <%= form.number_field :visits %>
  </div>

  <div class="field">
    <%= form.label :lock_version %>
    <%= form.number_field :lock_version %>
  </div>

  <div class="actions">
    <%= form.submit(nil, { class: "btn btn-primary" }) %>
  </div>

<% end %>
