<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :visits %>
    <%= form.number_field :visits %>
  </div>

  <div class="field">
    <%= form.label :orders_count %>
    <%= form.number_field :orders_count %>
  </div>

  <div class="field">
    <%= form.label :lock_version %>
    <%= form.number_field :lock_version %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
