<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Orders count</th>
      <th>Visits</th>
      <th>Lock version</th>
      <%= render 'shared/table_actions_theaders' %>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.title %></td>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.orders_count %></td>
        <td><%= customer.visits %></td>
        <td><%= customer.lock_version %></td>
        <%= render 'shared/table_action_rows', item: customer, edit_path: edit_customer_path(customer), destroy_name: customer.display_name %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="action-buttons">
  <%= render 'shared/link_button', text: 'New Customer', path: new_customer_path %>
</div>
