<h1>Customer</h1>


<p>
  <strong>Title:</strong>
  <%= @customer.title %>
</p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Orders count:</strong>
  <%= @customer.orders_count %>
</p>

<p>
  <strong>Visits:</strong>
  <%= @customer.visits %>
</p>

<p>
  <strong>Lock version:</strong>
  <%= @customer.lock_version %>
</p>

<%= render 'shared/action_buttons_edit_back', item: 'customer', edit_path: edit_customer_path(@customer), items: 'customers', back_to_path: customers_path %>
