<%= form_with(model: @order, local: true) do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this orders from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_submitted %>
    <%= form.time_select :date_submitted %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.select(:customer_id, Customer.all.collect {|c| [ c.display_name, c.id ] }) %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Order.statuses.keys %>
  </div>

  <h4>Books:</h4>
  <%= render 'books_and_prices_table', order: @order %>


  <div class="field">
    <%= form.label :subtotal %>
    <%= form.text_field :subtotal %>
  </div>

  <div class="field">
    <%= form.label :shipping %>
    <%= form.text_field :shipping %>
  </div>

  <div class="field">
    <%= form.label :tax %>
    <%= form.text_field :tax %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
