<%= form_with(model: @order, local: true) do |form| %>

  <div class="field">
    <%= form.label :date_submitted %>
    <%= form.time_select :date_submitted %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.select(:customer_id, Customer.all.collect { |c| [c.display_name, c.id] }) %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Order.statuses.keys %>
  </div>

  <div class="books-ordered">
    <p class="books-ordered-title">Books ordered:</p>
    <%= render 'books_and_prices_table', order: @order %>
  </div>

  <div class="field">
    <%= form.label :subtotal %>
    <%= tag.input(value: number_with_precision(@order.subtotal, precision: 2),
                  id: 'order_subtotal',
                  type: 'number',
                  class: %w( subtotal price ),
                  name: 'order[subtotal]')  %>
  </div>

  <div class="field">
    <%= form.label :shipping %>
    <%= tag.input(value: number_with_precision(@order.shipping, precision: 2),
                   id: 'order_shipping',
                  type: 'number',
                   class: %w( shipping price ),
                   name: 'order[shipping]')  %>
  </div>


  <div class="field">
    <%= form.label :tax %>
    <%= tag.input(value: number_with_precision(@order.tax, precision: 2),
                  id: 'order_tax',
                  type: 'number',
                  class: %w( tax price ),
                  name: 'order[tax]')  %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= tag.input(value: number_with_precision(@order.total, precision: 2),
                  id: 'order_total',
                  type: 'number',
                  class: %w( total price ),
                  name: 'order[total]')  %>
  </div>

  <div class="actions">
    <%= form.submit(nil, { class: "btn btn-primary" }) %>
  </div>
<% end %>
