<%= form_with(model: @order, local: true) do |form| %>

  <div class="field">
    <%= form.label :date_submitted %>
    <%= form.time_select :date_submitted %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.select(:customer_id, Customer.all.collect { |c| [c.display_name, c.id] }) %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Order.statuses.keys %>
  </div>

  <div class="books-ordered">
    <p class="books-ordered-title">Books ordered:</p>
    <%= render 'books_and_prices_table', order: @order %>
  </div>

  <div class="field">
    <%= form.label :subtotal %>
    <%= form.text_field :subtotal %>
  </div>

  <div class="field">
    <%= form.label :shipping %>
    <%= form.text_field :shipping %>
  </div>

  <div class="field">
    <%= form.label :tax %>
    <%= form.text_field :tax %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total %>
  </div>

  <div class="actions">
    <%= form.submit(nil, { class: "btn btn-primary" }) %>
  </div>
<% end %>
