<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th class="date_submitted">Date submitted</th>
      <th class="customer">Customer</th>
      <th class="status">Status</th>
      <th class="subtotal price">Subtotal</th>
      <th class="shipping price">Shipping</th>
      <th class="tax price">Tax</th>
      <th class="total price">Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td class="date_submitted"><%= order.date_submitted %></td>
        <td class="customer"><%= order.customer.display_name %></td>
        <td class="status"><%= order.status %></td>
        <td class="subtotal price"><%= number_with_precision(order.subtotal, precision: 2) %></td>
        <td class="shipping price"><%= number_with_precision(order.shipping, precision: 2) %></td>
        <td class="tax price"><%= number_with_precision(order.tax, precision: 2) %></td>
        <td class="total price"><%= number_with_precision(order.total, precision: 2) %></td>
        <%= render 'shared/table_action_rows', item: order, edit_path: edit_order_path(order), destroy_name: "the order made on #{order.date_submitted} by #{order.customer.display_name}" %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="action-buttons">
  <%= render 'shared/link_button', text: 'New Order', path: new_order_path %>
</div>
