<h1>Orders</h1>

<table class="table table-sm table-striped" id="tbl-orders">
  <thead class="thead-dark">
    <tr>
      <th class="date_submitted">Date submitted</th>
      <th class="customer">Customer</th>
      <th class="status">Status</th>
      <th class="subtotal price">Subtotal</th>
      <th class="shipping price">Shipping</th>
      <th class="tax price">Tax</th>
      <th class="total price">Total</th>
      <%= render 'table_actions_theaders' %>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td class="date_submitted"><%= order.date_submitted %></td>
        <td class="customer"><%= order.customer.display_name %></td>
        <td class="status"><%= order.status.humanize %></td>
        <td class="subtotal price"><%= number_to_currency(order.subtotal) %></td>
        <td class="shipping price"><%= number_to_currency(order.shipping) %></td>
        <td class="tax price"><%= number_to_currency(order.tax) %></td>
        <td class="total price"><%= number_to_currency(order.total) %></td>
        <%= render 'shared/table_action_rows', item: order, edit_path: edit_order_path(order), destroy_name: "the order made on #{order.date_submitted} by #{order.customer.display_name}" %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="action-buttons">
  <%= render 'shared/link_button', text: 'New Order', path: new_order_path %>
</div>
