<h1>Order</h1>

<p>
  <strong>Date submitted:</strong>
  <%= @order.date_submitted %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer.display_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<div class="books-ordered">
  <p class="books-ordered-title">Books ordered:</p>
  <%= render 'books_and_prices_table', order: @order %>
</div>

<p>
  <strong>Subtotal:</strong>
  <%= number_with_precision(@order.subtotal, precision: 2) %>
</p>

<p>
  <strong>Shipping:</strong>
  <%= number_with_precision(@order.shipping, precision: 2) %>
</p>

<p>
  <strong>Tax:</strong>
  <%= number_with_precision(@order.tax, precision: 2) %>
</p>

<p>
  <strong>Total:</strong>
  <%= number_with_precision(@order.total, precision: 2) %>
</p>


<%= render 'shared/action_buttons_edit_back', item: 'order', edit_path: edit_order_path(@order), items: 'orders', back_to_path: orders_path %>
