<p id="notice"><%= notice %></p>

<p>
  <strong>Date submitted:</strong>
  <%= @order.date_submitted %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer.display_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<h4>Books:</h4>
<%= render 'books_and_prices_table', order: @order %>


<p>
  <strong>Subtotal:</strong>
  <%= @order.subtotal %>
</p>

<p>
  <strong>Shipping:</strong>
  <%= @order.shipping %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @order.tax %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
