<%= form_with(model: book, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :author_id %>
    <%= form.select(:author_id, Author.all.collect {|a| [ a.display_name, a.id ] }) %>
  </div>

  <div class="field">
    <%= form.label :year_published %>
    <%= form.number_field :year_published %>
  </div>

  <div class="field">
    <%= form.label :isbn %>
    <%= form.text_field :isbn %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= tag.input(value: number_with_precision( @book.price, precision: 2),
                  id: 'book_price',
                  type: 'number',
                  class: %w( price ),
                  name: 'book[price]')  %>
  </div>

  <div class="field">
    <%= form.label :out_of_print %>
    <%= form.check_box :out_of_print %>
  </div>

  <div class="field">
    <%= form.label :views %>
    <%= form.number_field :views %>
  </div>

  <div class="field">
    <%= form.label :supplier_id %>
    <%= form.select(:supplier_id, Supplier.all.collect {|s| [ s.name, s.id ] }) %>
  </div>

  <div class="actions">
    <%= form.submit(nil, { class: "btn btn-primary" }) %>
  </div>
<% end %>
