<h1>Books</h1>

<table class="table table-sm table-striped" id="tbl-books">
  <thead class="thead-dark">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Year published</th>
    <th>ISBN</th>
    <th>Price</th>
    <th>Out of print?</th>
    <th>Views</th>
    <th>Supplier</th>
    <%= render 'shared/table_actions_theaders' %>
  </tr>
  </thead>

  <tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author.display_name %></td>
      <td><%= book.year_published %></td>
      <td><%= book.isbn %></td>
      <td><%= number_to_currency(book.price) %></td>
      <td><%= book.out_of_print %></td>
      <td><%= book.views %></td>
      <td><%= book.supplier.name %></td>

      <%= render 'shared/table_action_rows', item: book, edit_path: edit_book_path(book), destroy_name: book.title %>
    </tr>
  <% end %>
  </tbody>
</table>


<div class="action-buttons">
  <%= render 'shared/link_button', text: 'New Book', path: new_book_path %>
</div>
