<h1>Book</h1>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author.display_name %>
</p>

<p>
  <strong>Year published:</strong>
  <%= @book.year_published %>
</p>

<p>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@book.price) %>
</p>

<p>
  <strong>Out of print:</strong>
  <%= @book.out_of_print %>
</p>

<p>
  <strong>Views:</strong>
  <%= @book.views %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @book.supplier.name %>
</p>


<%= render 'action_buttons_edit_back', item: 'book', edit_path: edit_book_path(@book), items: 'books', back_to_path: books_path %>
