<%= form_with(model: @review, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.select :state, Review.states.keys %>
  </div>


  <div class="field">
    <%= form.label :book_id %>
    <%= form.select(:book_id, Book.all.collect {|b| [ b.title, b.id ] }) %>
  </div>


  <div class="field">
    <%= form.label :customer_id %>
    <%= form.select(:customer_id, Customer.all.collect {|c| [ c.display_name, c.id ] }) %>
  </div>

  <div class="actions">
    <%= form.submit(nil, { class: "btn btn-primary" }) %>
  </div>
<% end %>
