<h1>Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>Title</th>
      <th>Rating</th>
      <th>State</th>
      <th>Customer</th>
      <%= render 'table_actions_theaders' %>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.book.title %></td>
        <td><%= review.title %></td>
        <td><%= review.rating %></td>
        <td><%= review.state %></td>
        <td><%= review.customer.display_name %></td>
        <%= render 'table_action_rows', item: review, edit_path: edit_review_path(review), destroy_name: "the review for '#{review.book.title},' from #{review.customer.display_name}" %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="action-buttons">
  <%= render 'link_button', text: 'New Review', path: new_review_path %>
</div>
