<h1>Review</h1>


<p>
  <strong>Book:</strong>
  <%= @review.book.title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>State:</strong>
  <%= @review.state %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @review.customer.display_name %>
</p>


<%= render 'action_buttons_edit_back', item: 'review', edit_path: edit_review_path(@review), items: 'reviews', back_to_path: reviews_path %>
