<!DOCTYPE html>
<html>
  <head>
    <%= render 'head' %>
  </head>

  <body class="<%= "#{controller.controller_name} #{controller.action_name}" %>" >
  <%= render 'navbar' %>
  <%= render 'notices' %>

  <div class="container">
    <%= yield %>
  </div>

  <%= render 'footer' %>
  </body>
</html>
